# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
.terragrunt-cache/

# Logs
crash.log

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Sensitive or environment files
.env
.env.*